*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: JetBrains Mono , JetBrains Mono, sans-serif , sans-serif ;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    position: relative;
}
.pages{
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}
nav  h2{
    color: #fff;
    margin-left: 10vw;
    font-size: 3vw;
    text-transform: capitalize;
}
nav i{
    font-size: 2vw;
}
.page1{
    position: relative;
    display: flex;
}
.left{
    width: 65vw;
    height: 100vh;
    background-color: #2C2C2C;
    color: white;
}
.name{
    width: 50%;
    margin: 30% 20%;
}
.name h5{
    font-size: 2vw;
}
.name h2{
    color: #FFB633;
    font-size: 3.5vw;
}
.name p{
    font-size: 1vw;
    margin-bottom: 1vw;
}
.page1 img{
    width: 30%;
    position: absolute;
    top: 23.1%;
    left: 51vw;
    z-index: 99;
}
.name button{
    padding: 0.8vw 1.5vw;
    border-radius: 5px;
    border: 1px solid #FFB633;
    background-color: #2C2C2C;
    color: white;
    margin-top: 1.7vw;
    text-transform: capitalize;
    font-size: 1vw;
}
.right{
    width: 35vw;
    height: 100vh;
    background-color: #FFB633;
}

/* ----------page-2---------- */

.page2{
    background-color: #313131;
    display: flex;
}
.pg2left{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.cards{
    width: 290px;
    height: 380px;
}
.card1{
    background-color: transparent;
    border: 8px solid #FFB633;
    position: relative;
    left: 17vw;
    top: 5vh;
}
.card2{
    background-color: #fff;
    border: 8px solid #373535;
    background-image: url(./r3.png);
    background-size: cover;
    background-position: center;
    z-index: 99;
}
.pg2right{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
}
.pg2about{
    color: #fff;
    width: 60%;
    margin-left: 4vw;
    position: relative;
}
.pg2about h2{
    border-bottom: 3px solid #FFB633;
    font-size: 2vw;
    margin-bottom: 2vw;
    width: fit-content;
}
.pg2about p{
font-size: 1vw;
font-weight: 300;
margin-bottom: 2vw;
}
.pg2about a{
    text-decoration: none;
}
.pg2about i{
    font-size: 30px;
}
.back-home a{
    padding: 1vh 1.5vw;
    font-size: 1.1vw;
    border: 2px solid #FFB633;
    border-radius: 5px;
    color: #FFf;
    
}
.aboute-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* ---------page-3--------- */

.page3{

    background-color: #2C2C2C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services{
    width: 60%;
    height: 100vh;
    background-color: #2C2C2C;
    color: #fff;
}
.service-aboute{
    margin-top: 2vh;
    width: 50%;
    margin-bottom: 10vh;
    padding-left: 4vw;
}
.service-aboute h2{
    margin-bottom: 3vh;
    font-size: 2.5vw;
}
.service-aboute p{
    font-size: 1.1vw;
}
.cards-service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    background-color: #2C2C2C;
}
.cards-ser{
    width: 25vw;
    height: 30vh;
    background-position: center;
    background-size: cover;
    position: relative;
 
}
.cards1{
    background-color: #19ae55;
    background-image: url("./1.jpg");
}
.shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.shadow p{
    width: 60%;
    font-size: 0.6vw;
    font-family: sans-serif;
    line-height: 0.7vw;
}
.shadow1{
    background-image: linear-gradient(to right ,green, greenyellow );
}
.shadow2{
    background-image: linear-gradient(to right ,#FFB633,#FFB633, yellow);
}
.shadow3{
    background-image: linear-gradient(to right ,pink, #C45AEA);

}.shadow4{
    background-image: linear-gradient(to right ,rgb(53, 53, 217), aqua);
}
.cards2{
    background-image: url("./2.jpg");  
}
.cards3{
    background-image: url("./3.jpg");
}
.cards4{
    background-image: url("./4.jpg");
}
.page4{
    background-color: red;
}






/*------------------Responsive------------------ */







@media (max-width:768px) {
    .main{
        width: 100%;
        position: relative;
    }
    .pages{
        width: 100%;
        height: 100vh;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3vw 6vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
    }
    nav  h2{
        color: #fff;
        margin-left: 5vw;
        font-size: 6vw;
        text-transform: capitalize;
        font-family: JetBrains Mono , JetBrains Mono ;
    }
    nav i{
        font-size: 8vw;
        color: #fff;
    }
    .page1{
        position: relative;
        flex-direction: column;
        height: 90vh;
        font-family: JetBrains Mono;
    }
    .left{
        width: 100vw;
        height: 40vh;
        background-color: #2C2C2C;
        color: white;
    }
    .name{
        width: 80%;
        margin: 20% 10%;
        font-family: JetBrains Mono , JetBrains Mono ;
    }
    .name h5{
        font-size: 4vw;
    }
    .name #about{
        text-align: justify;
        line-height: 4.2vw;
    }
    .name h2{
        color: #FFB633;
        font-size: 13vw;
    }
    .name p{
        font-size: 3.8vw;
        margin-bottom: 2vw;
    }
    .page1 img{
        width: 75%;
        position: absolute;
        top: 46.3%;
        left: 10.9vw;
        z-index: 99;
    }
    .name button{
        padding: 2vw 4vw;
        border-radius: 5px;
        border: 1px solid #FFB633;
        background-color: #2C2C2C;
        color: white;
        margin-top: 1.7vw;
        text-transform: capitalize;
        font-size: 3vw;
    }
    .right{
        width: 100vw;
        height: 50vh;
        background-color: #2C2C2C;
    }

    /* -------------page-2------------- */
    
    .page2{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100vh;
    }
    .pg2left{
        background-color: #454037;
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .cards{
        width: 260px;
        height: 360px;
        background-color: rgb(255, 0, 55);
    }
    .card1{
        background-color: transparent;
        border: 8px solid #FFB633;
        position: absolute;
        left: 7vw;
        top: 3vh;
    }
    .card2{
        background-color: #fff;
        border: 8px solid #373535;
        background-image: url(./r3.png);
        background-size: cover;
        background-position: center;
        z-index: 99;
    }
    .pg2right{
        width: 100%;
        height: 50vh;
        position: relative; 
    }
    .pg2about{
        width: 90%;
        height: 100%;
    }
    .data{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .pg2about h2{
        border-bottom: 3px solid #FFB633;
        font-size: 9vw;
        margin-bottom: 5vw;
        width: fit-content;
    }
    .pg2about p{
        width: 90%;
        font-size: 4vw;
        font-weight: 300;
        margin-bottom: 5vw;
    }
    .aboute-links{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10vh;
    }
    .social{
        width: 200%;
        background-color: #313131;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .social a i {
        font-size: 10vw;
        color: #fff;
    }
    .back-home a{
        padding: 1vh 6vw;
        font-size: 5vw;
        border: 2px solid #FFB633;
        border-radius: 5px;
        color: #FFf;
    }
    .pg2about a{
        text-decoration: none;   
    }
    .pg2about i{
        font-size: 25px;
    }
 /* ---------------------------------------Page 3-------------------------------------------- */
   .page3{
     position: relative;
     background-color: #2C2C2C;
     height: 150vh;
    }
   .services{
     top: 2%;
     position: absolute;
     width: 90%;
     background-color: #2C2C2C;
     color: #fff;
    }
   .service-aboute{
     width: 100%;
     margin-bottom: 5vh;
     padding-left: 4vw;
    }
   .service-aboute h2{
     width: fit-content;
     margin-bottom: 3vh;
     font-size: 8vw;
     border-bottom: 2.5px solid #FFB633;
    }
    .service-aboute p{
     font-size: 3vw;
    }
   .cards-service{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     gap: 2vw;
     background-color: #2C2C2C;
    }
   .cards-ser{
     width: 100vw;
     height: 30vh;
     background-position: center;
     background-size: cover;
     position: relative;
    }
   .cards1{
     background-color: #19ae55;
     background-image: url("./1.jpg");
    }
   .shadow{
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     opacity: 0.8;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1vw;
     flex-direction: column;
     flex-wrap: wrap;
     text-align: center;
    }
    .shadow h2{
     font-size: 7vw;
    }
    .shadow p{
     width: 60%;
     font-size: 2vw;
     font-family: sans-serif;
     line-height: 2vw;
    }
   .shadow1{
     background-image: linear-gradient(to right ,green, greenyellow );
    }
   .shadow2{
     background-image: linear-gradient(to right ,#FFB633,#FFB633, yellow);
    }
   .shadow3{
     background-image: linear-gradient(to right ,pink, #C45AEA);
    }
   .shadow4{
     background-image: linear-gradient(to right ,rgb(53, 53, 217), aqua);
    }
   .cards2{
     background-image: url("./2.jpg");  
    }
   .cards3{
     background-image: url("./3.jpg");
    }
   .cards4{
     background-image: url("./4.jpg");
    }
}